---
layout: home
description: ""
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> -->
            <div class="col-md-12">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!-- 
                        <hr class="small">
                        <span class="subheading">{{ page.description }}</span>
                    -->
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">

                <p>After the publication of his narrative in 1845, William Lloyd Garrison was concerned Douglass’ former master would try and reclaim him, and urged him to travel to Britain for safety.</p>

                <p>It was an opportunity for Douglass and the abolitionists to spread awareness of the cruelties of American slavery and through this, gather an international reputation.</p>

                <p>When Douglass arrived in Britain in 1845, he visited those towns where antislavery support was strongest, and friends of the cause would usually meet him at a train station or instruct him where to meet and whom to stay with.</p> 

                <h2 id="place"></h2>
                <div id="map" class="home"></div> 

                <p>Visit frederickdouglassinbritain.com to see all the places Douglass visited.</p>

            </div>
             <div class="col-md-6">

                {% include cards6.html %}

            </div>
        </div>  
    </div> 
</section>

<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="//d3js.org/queue.v1.min.js"></script>
<!-- script to build the map -->
<script src="{{ "/js/d3mapHOME.js" | prepend: site.baseurl }}"></script> 
